/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.app {
    text-align:center;
}

.result {
    margin: 0px auto; 
}

.paxTable {
    background-color:#fff;
    margin: 0px auto; 
}

p.code {
    font-weight:bold;
    font-size:24px;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background-color:#3d94f6;
    -webkit-border-top-left-radius:11px;
    -moz-border-radius-topleft:11px;
    border-top-left-radius:11px;
    -webkit-border-top-right-radius:11px;
    -moz-border-radius-topright:11px;
    border-top-right-radius:11px;
    -webkit-border-bottom-right-radius:11px;
    -moz-border-radius-bottomright:11px;
    border-bottom-right-radius:11px;
    -webkit-border-bottom-left-radius:11px;
    -moz-border-radius-bottomleft:11px;
    border-bottom-left-radius:11px;
    text-indent:0;
    border:1px solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:26px;
    font-weight:bold;
    font-style:normal;
    height:70px;
    line-height:70px;
    width:200px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #1570cd;
}.button:hover {
    background-color:#1e62d0;
}.button:active {
    position:relative;
    top:1px;
}

.larger {
    height:5em;
    line-height:5em;
    font-size:48px;
    width:10em;
}